/*selector Universal*/
* {
    font-family: "Arial Unicode MS";
    margin: 0px;
    padding: 0px;
    box-sizing: border-box ;
    text-align: justify;
    
}

/*header*/

.header_cls {
    background-image: linear-gradien(white,gray);
}

.header_cls img {
    border-radius: 50%;
    display: block;
    width: 250px;
    margin: auto;
}

.header_cls h1, .header_cls h2 {
    text-align: center;
}

/*barra de navegacion*/
.menu_cls {
    background-color: midnightblue;
}

.menu_cls li{
    display: inline-block;
    padding: 10px;
}

.menu_cls a{
    color: white;
    text-decoration: none;
}

.menu_cls a:hover {
    background-color: green;
    padding: 10px;
}
.menu_cls img{
    background-position: right;
}

/*Contenido Principal*/
.main_cls {
    background-image: radial-gradient(white, azure);
    border: 1px solid black;
    float: right;
    
}
/* seccion*/
.section_cls {
    background-image: linear-gradient(white,azure);
    float: right;
    width: 75%;
    border: none;
    
}

.section_cls h2, .section_cls p {
    padding: 10px;
}
.section_cls article,h2{
    text-align: left;
}

/*columna lateral*/
.aside_cls {
    float: right;
    width: 20%;
}

.aside_cls h3 {
    padding: 10px;
}



/*footer*/

.footer_cls {
    background-color: midnightblue;
}

.footer_cls h4 {
    color: white;
    padding: 15px;
    text-align: center;
}

/* table */
.aside_cls table td,a{
text-align: center;
color: black;
text-decoration: none;
}
.aside_cls table td, a:hover{
    text-align: center;
    color: black;
    text-decoration: none;
    }
    
/*Formularios*/
.form_login{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family:'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    margin-bottom: 100px;

}
.form_login h5{
    margin:0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;


}
.controls_cls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 4px;
    border:1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;

}
.button_cls{
    width: 100%;
    height: 40px;
    background:#017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
    text-align: center;
}
.form_login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}
.form_login a{
    color: white;
    text-decoration: none;
    font-size: 14px;

}
.form_login a:hover{
    text-decoration: underline;
}
.form_Registro{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 4px;
    font-family:'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;

}


.form_Registro h5{
    font-size: 22px;
    margin-bottom: 20px;

    
}
.control_r{
    width: 100%;
    background: #24303c;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 4px;
    border:1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}
.form_Registro p{
    height: 40px;
    text-align:center;
    font-size: 18px;
}
.form_Registro a{
    color: white;
    text-decoration: none;
}
.form_Registro a:hover{
    color: white;
    text-decoration: underline;
}

.form_Registro .button_r{
    width: 100%;
    background-color: blue;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    text-align: center;
}






